.container {
    padding: 1em;
}

.card-aling {
    padding: 1em;
    margin: 1em;
    float: left;
}

.nav-link-margin {
    margin-top: 20px;
}

.nav-ver-margin {
    margin-left: 10px;
}

.button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button:hover {
    background-color: #0d6efd;
    box-shadow: 0px 15px 20px #10499e;
    color: #fff;
    transform: translateY(-7px);
}

.button:active {
    transform: translateY(-1px);
}

.content-project {
    border-top: black 2px solid;
    border-bottom: black 2px solid;
}

.content-project h1 {
    font-size: 30px;
}

.button-flex {
    display: inline-block;
}

.button-options {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.button-options:hover {
    background-color: #0d6efd;
    box-shadow: 0px 15px 20px #10499e;
    color: #fff;
}

.btn-del-member {
    float: right;
}